# Dependencies
node_modules/

# Build
dist/
.astro/

# Environment
.env
.env.*
!.env.example

# Sanity
.sanity/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
