@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable smooth scrolling globally */
html {
  scroll-behavior: auto;
}

body {
  @apply antialiased bg-haus-grey text-base text-black;
}

/* Headers never bold */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
