---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section class="bg-haus-grey py-10 md:py-12">
  <div class="grid grid-cols-6 gap-4 w-full max-w-content mx-auto px-8">
    <div class="col-span-6 md:col-start-4 md:col-span-3">
      <h1 class="text-[1.3rem] leading-relaxed text-[#0a0a0a]">
        {text}
      </h1>
    </div>
  </div>
</section>
